<a href="https://colab.research.google.com/github/anhtran123-max/Learn_python/blob/master/DecisionTreeClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

In [ ]:
%cd /content/drive/MyDrive/Dataset/Tabulate

/content/drive/.shortcut-targets-by-id/19WB1Ohri0T4iAv3l5rvluYoFBaNzInRN/Dataset/Tabulate

In [ ]:
%ls

Breast_cancer_data.csv  housing.csv           vgsales.csv
data.csv                ThoraricSurgery.arff  WuhanVirus.csv

In [ ]:
import pandas as pd
import warnings
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

import pandas_profiling
from sklearn.metrics import confusion_matrix, accuracy_score
warnings.filterwarnings("ignore")

data_frame = pd.read_csv("housing.csv")

In [ ]:
data_frame = data_frame.dropna(axis=1)
data_frame

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,1387.0,530.0,2.3886,89400.0,INLAND

In [ ]:
print(data_frame.nunique())

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [ ]:
print(data_frame.shape)

(20640, 9)

In [ ]:
y = data_frame.median_house_value	
x = data_frame.drop(["longitude","latitude","median_house_value"],axis=1)

In [ ]:
x

,housing_median_age,total_rooms,population,households,median_income,ocean_proximity
0,41.0,880.0,322.0,126.0,8.3252,NEAR BAY
1,21.0,7099.0,2401.0,1138.0,8.3014,NEAR BAY
2,52.0,1467.0,496.0,177.0,7.2574,NEAR BAY
3,52.0,1274.0,558.0,219.0,5.6431,NEAR BAY
4,52.0,1627.0,565.0,259.0,3.8462,NEAR BAY
...,...,...,...,...,...,...
20635,25.0,1665.0,845.0,330.0,1.5603,INLAND
20636,18.0,697.0,356.0,114.0,2.5568,INLAND
20637,17.0,2254.0,1007.0,433.0,1.7000,INLAND
20638,18.0,1860.0,741.0,349.0,1.8672,INLAND
20639,16.0,2785.0,1387.0,530.0,2.3886,INLAND

In [ ]:
x = data_frame.drop(["ocean_proximity"],axis=1)

In [ ]:
x

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,1387.0,530.0,2.3886,89400.0

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x , y , test_size= 0.2 , random_state= 42)
data_model = DecisionTreeClassifier()

In [ ]:
pred_train = data_model.fit(x_train, y_train)
true_train = pred_train.predict(x_test)

In [ ]:
print("Accuracy on train data: ", accuracy_score(true_train , y_test))

Accuracy on train data:  0.8575581395348837